# Dependencies
node_modules/

# Compiled TypeScript files
dist/
build/

# Log files
*.log
npm-debug.log*

# Environment variables
# Never commit your secrets!
.env
.env.local

# Editor directories and files
.vscode/
.idea/